<html>
	<head>
		<title>{{t}}</title>
		<!-- href="/static/assets/style.css"-->
		<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/style.css')}}" >
		<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/emoji.css')}}" >
		<script src="{{ url_for('static',filename='assets/twemoji.min.js')}}"></script>  
		<script src="{{ url_for('static',filename='assets/emoji.js')}}"></script>
	</head>
<body>
	<h1>{{ h }}</h1>
	<!-- <ul>
		<li><a href="/list" class="{{ a1 }}">ALL</a></li>
		<li><a href="/" class="{{ a2 }}">Uncompleted</a></li>
		<li><a href="/completed" class="{{ a3 }}">Completed</a></li>
	</ul> -->
	<hr>
	{% if smzdms[0] %}
	<!-- <div span="right">
	<form action="/search"	method="GET" >
		<table class="none" id="close">
		<tr>
		<td></td><td></td>
		<td><big><b>Search Reference:</b></big></td>
		<td><select name="refer" required>
			<option value="name">Task Name</option>
			<option value="desc">Description</option>
			<option value="date">Date</option>
			<option value="pr">Priority</option>
		</select></td>
		<td><input type="text" name="key" placeholder="Search Task" size="15" /></td>
		<td><button type="submit">Search</button></td>
		</tr>
		</table>
	</form>
	</div> -->
	<b><big>SMZDM LIST :</big></b>
	<table>
	    <tr id="row">
	    	<!-- <th class="status">Status</th> -->
	    	<th class="name">物品</th>
	    	<th class="desc">描述</th>
	    	<th class="date">关键词</th>
			<th class="pr">期望价格</th>
			<!-- <th class="pr">Priority</th>
			<th class="pr">Priority</th> -->
		<!-- <th class="func1">Remove</th>
		<th class="func2">Modify</th> -->
	    </tr>
	{% for smzdm in smzdms %}
		<tr class="datas">
			<td class="name"><a target="_blank" href= "{{ url_for( 'lists_1', ITEM = smzdm["keyword"] )  }}>{{ smzdm["name"] }} </a></td>
			<!-- <td class="name">{{ smzdm["name"] }} </td> -->
			<td class="desc">{{ smzdm["desc"] }}</td>
			<td class="date">{{ smzdm["keyword"] }}</td>
			<td class="pr">{{ smzdm["desire_price"] }}</td>

		</tr>
	{% endfor %}
	</table>
	{% else %}
		<h4>No Tasks in the List !!</h4>
	{% endif %}
	</hr>
	<form action="/action" method="POST">
	<table class="none">
		<tr>
			<td><b><big><label>Add a Item : </label></big></b></td>
		</tr>
		<tr>
		<td><input type="text" name="name" placeholder="item name" /></td>
		<!-- <td><textarea name="keyword" rows="1" cols="20" placeholder="Enter keyword." required></textarea></td> -->
		<td><input type="text" name="keyword" placeholder="keyword" /></td>
		<td><input type="text" name="desc" placeholder="desc" /></td>
		<td><input type="text" name="desire_price" placeholder="desire_price" /></td>
		<td><button type="submit"> Create </button></td>
		</tr>
	</table>
	</form>

	<script>

	</script>
</body>
</html>

<!-- <td>期望价格</td><td> : </td><td><input type="text" name="pr" value="{{ smzdm['desire_price'] }}" placeholder="{{ smzdm['desire_price'] }}"></td> -->